{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<section>

  <div class="controls">
  <input type="text" id="searchInput" placeholder="Search products">

 <select id="sortSelect">
  <option value="name-asc">Name A-Z</option>
  <option value="price-asc">Price Low to High</option>
  <option value="price-desc">Price High to Low</option>
</select>

  <p id="sortStatus"></p>
</div>
  <h2 class="page-title">Shoe Products</h2>

  <div class="products" id="productList">
   
  </div>
</section>
<script>
  
  const products = {{ products | tojson }};
</script>

<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}